

<div class="catagory_overall_div">
	<h1>Browse our internships</h1>
	<p>
		The internships below are not exhaustive, and may or may not be currently available, but provide a taste of
		the
		various internships Google offers.
	</p>

	<div class="intership_catagory_grid">

		<!-- Buisness internships -->
		<div class="catagory_1_internship">
			<div class="title_catagory_internship">
				Buisness internships
			</div>
			<div class="line_catagory"></div>
			<div class="image_internship_catagory">
				<img src="~/images/business_internship.jpg" height="120" alt="">
			</div>
			<div class="description_catagory">
				Business internships include multiple teams and roles within the business world at Google. Available
				outside of the united States, the internship is for undergraduate and graduate students with
				qualifications and application dates varying by location.
			</div>

			<div class="link_catagory">
				<a href="">Learn More <img src="~/images/link.png" width="20" alt=""></a>

			</div>

		</div>

		<!-- STEP internship -->
		<div class="catagory_1_internship">
			<div class="title_catagory_internship">
				STEP internship
			</div>
			<div class="line_catagory"></div>
			<div class="image_internship_catagory">
				<img src="~/images/STEP internship.jpg" height="120" alt="">
			</div>
			<div class="description_catagory">
				STEP (Student Training in Engineering Program) is a development project that is focused on students
				that have a passion for technology. Requirements and application dates vary location.

			</div>

			<div class="link_catagory">
				<a href="">Learn More <img src="~/images/link.png" width="20" alt=""></a>

			</div>

		</div>

		<!-- Software engineering  -->
		<div class="catagory_1_internship">
			<div class="title_catagory_internship">
				Software engineering
			</div>
			<div class="line_catagory"></div>
			<div class="image_internship_catagory">
				<img src="~/images/software engineer internship.jpg" height="120" alt="">
			</div>
			<div class="description_catagory">
				Software engineering internships are available throughout the globe to undergraduate and
				graduate/PhD students, with rolling application dates (depending on location). Our interns have a
				broad set of technical skills, enable them to tackle some of technology's greatest challenges.
			</div>

			<div class="link_catagory">
				<a href="">Learn More <img src="~/images/link.png" width="20" alt=""></a>

			</div>

		</div>


		<!--  Product Manager Internship -->
		<div class="catagory_1_internship">
			<div class="title_catagory_internship">
				Product Manager
			</div>
			<div class="line_catagory"></div>
			<div class="image_internship_catagory">
				<img src="~/images/asosiate product manager.jpg" height="120" alt="">
			</div>
			<div class="description_catagory">
				Our interns bridge technical and business worlds, designing technology with engineers and then
				zooming out of lead matrix teams such as Sales, Marketing, and Finance, to name a few. The
				internship is available globally, with varying requirements and application dates.

				

			</div>
			<div class="link_catagory">
				<a href="">Learn More <img src="~/images/link.png" width="20" alt=""></a>

			</div>




		</div>

		<!-- MBA internships -->
		<div class="catagory_1_internship">
			<div class="title_catagory_internship">
				MBA internships
			</div>
			<div class="line_catagory"></div>
			<div class="image_internship_catagory">
				<img src="~/images/MBA Internship.jpg" height="120" alt="">
			</div>
			<div class="description_catagory">
				Our MBA internships are offered throughout the globe, and interns are able to put their
				education to use on day one. Available to students currently enrolled in a MBA program (with
				specific rquirements tied to the internship location, and applications open in September and
				October).
			</div>

			<div class="link_catagory">
				<a href="">Learn More <img src="~/images/link.png" width="20" alt=""></a>

			</div>

		</div>



		<!-- Hardware Engineering internships -->
		<div class="catagory_1_internship">
			<div class="title_catagory_internship">
				Hardware Engineering
			</div>
			<div class="line_catagory"></div>
			<div class="image_internship_catagory">
				<img src="~/images/Hardware engineering internship.jpg" height="120" alt="">
			</div>
			<div class="description_catagory">
				As a Hardware Engineering Intern, you will work on our core Consumer Hardware products. The
				teams you work with design, develop, and deploy next generation consumer hardware while ensuring
				that this equipment is reliable.
			</div>

			<div class="link_catagory">
				<a href="">Learn More <img src="~/images/link.png" width="20" alt=""></a>

			</div>

		</div>
	</div>
