@using Internshub.Models;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> usermanager
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Home Page";
}


<div class="index_main_grid_div">

    <div class="Index_content_Inside_index_grid">

        <div class="enroll_inside_content_index">
            <div class="enroll_inside_content_index_before_title">Enroll now to learn and earn with</div>
            <div class="Internhub_inside_context_index">Internshub</div>

        </div>
        <div class="lastline_content_index">
            Technology internships & trainings - any course, anytime. explore thousands of internships from big
            company's , the lowest price ever!
        </div>

        <div class="data-show_content_index">

            <div class="students_overall_content_index">
                <div class="number_students_overall_content_index">
                    99 lakh plus
                </div>
                <div class="name_students_overall_content_index">
                    Happy students
                </div>

            </div>
            <div class="students_overall_content_index">
                <div class="number_students_overall_content_index">
                    1k plus
                </div>
                <div class="name_students_overall_content_index">
                    Experienced instructors
                </div>
            </div>

        </div>

    </div>


    <div class="Index_image_Inside_index_grid">
        <img src="/Images/Internship_photo_index.jpg" width="550" alt="">
    </div>

</div>

<div class="title_internship_types_area">
    <h1>We provide internship in:</h1>
</div>
<div class="internship_types_area">

    <!-- Asp>Net -->
    <div class="internship_card">
        <img src="~/images/NET_Core_Logo.svg.png" height="100" alt="">
        <h2>ASP.NET</h2>
        <h3>Skills</h3>
        <div>
            <button>ASP.Net</button>  <button>JavaScript</button>
            
        </div>
        <p>
            <strong>About the internship</strong> <br>
            1. Work on software development <br>
            2. Work on programming language tools and applications
        </p>
        <div>
            @* <button>Duration 6 months</button>  <button>WFH</button> *@

        </div>
        @if(signInManager.IsSignedIn(User))
        {
            <a asp-controller="Admin" asp-action="Enroll" asp-route-data="ASP.NET">Enroll</a>
        }
        else
        {
            <a asp-controller="Accounts" asp-action="Login">Enroll</a>
        }
    </div>



    <!-- Javascript -->
    <div class="internship_card">
        <img src="~/images/javascript-logo-javascript-icon-transparent-free-png.webp" height="100" alt="">
        <h2>Javascript</h2>
        <h3>Skills</h3>
        <div>
               <button>HTML/CSS</button> <button>JavaScript</button>

        </div>
        <p>
            <strong>Responsibilities include:</strong> <br>

            1. Develop, enhance, test, and maintain web applications by working on HTML, CSS & JavaScript <br>
            2. Work with the team to debug and troubleshoot issues <br>
        </p>

        @if (signInManager.IsSignedIn(User))
        {
            <a asp-controller="Admin" asp-action="Enroll" asp-route-data="javascript">Enroll</a>
        }
        else
        {
            <a asp-controller="Accounts" asp-action="Login" >Enroll</a>
        }
    </div>



    <!-- Angular -->
    <div class="internship_card">
        <img src="/Images/Angular_logo.png" height="100" alt="">
        <h2>Angular.js</h2>
        <h3>Skills</h3>
        <div>
            <button>Angular 7.0</button> <button>AngularJS</button>

        </div>
        <p>
            <strong>Responsibilities include:</strong> <br>

            1. Collaborating with the development team to design and implement new features and enhancements using AngularJS and Angular 7.0 <br>
            2. Writing clean, efficient, and maintainable code to ensure the scalability and performance of our web applications <br>
            
        </p>
        @if (signInManager.IsSignedIn(User))
        {
            <a asp-controller="Admin" asp-action="Enroll" asp-route-data="Angular.js">Enroll</a>
        }
        else
        {
            <a asp-controller="Accounts" asp-action="Login">Enroll</a>
        }
    </div>


    <!-- Python -->
    <div class="internship_card">
        <img src="/Images/Python-Symbol.png" height="100" alt="">
        <h2>Python</h2>
        <h3>Skills</h3>
        <div>
            <button>Data Analysis</button> 
            <button>Python</button> 


        </div>
        <p>
            <strong>Responsibilities include:</strong>  <br>

            1. Contribute to the development and maintenance of backend systems using Python <br>
            2. Collaborate with the team to implement scalable and efficient server-side logic <br>
            3. Develop Python scripts to automate repetitive tasks and streamline workflows
        </p>
        @if (signInManager.IsSignedIn(User))
        {
            <a asp-controller="Admin" asp-action="Enroll" asp-route-data="Python">Enroll</a>
        }
        else
        {
            <a asp-controller="Accounts" asp-action="Login">Enroll</a>
        }
    </div>

    <!-- React -->
    <div class="internship_card">
        <img src="/Images/React-Symbol.png" height="100" alt="">
        <h2>React</h2>
        <h3>Skills</h3>
        <div>
            <button>Front end</button> <button>Architecture</button>  <button>Coding</button>
            


        </div>
        <p>
            <strong>What You Will Be Doing</strong> <br>

            Understanding Product Requirements according to the business and architecting solutions keeping in mind end user experience. <br>
            ReactJS Development using the latest UI and UX Principles, Design patterns and coding methodologies on. <br>
            
        </p>
        @if (signInManager.IsSignedIn(User))
        {
            <a asp-controller="Admin" asp-action="Enroll" asp-route-data="React">Enroll</a>
        }
        else
        {
            <a asp-controller="Accounts" asp-action="Login">Enroll</a>
        }
    </div>




</div>
<script>
 

</script>