



<div class="jobs_overall_internship_site">
    <div class="title_jobs_section">
        Find your dream job now
    </div>
    <div class="tagline_title_jobs_section">
        5 lakh+ jobs for you to explore
    </div>

    <div class="types_of_jobs_in_job_secion">

        <!-- Remote jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/remoteonetheme.svg" width="40">

                <span>Remote</span>
                <img class="ntc__chip-arrow"
                     src="https://static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg" />
            </a>

        </div>


        <!-- MNC jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/mnconetheme.svg" alt="MNC-img"
                     width="40">

                <span>MNC</span>
                <img class="ntc__chip-arrow"
                     src="//static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg"
            </a>

        </div>


        <!-- Product Management jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/project-managementonetheme.svg"
                     alt="Project Mgmt-img" width="40">

                <span>Product Management</span>
                <img class="ntc__chip-arrow"
                     src="//static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg">
            </a>

        </div>





        <!-- Data Science jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/data-scienceonetheme.svg"
                     alt="Data Science-img" width="40">

                <span>Data Science</span>
                <img class="ntc__chip-arrow"
                     src="//static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg"
            </a>

        </div>


        <!-- Banking & finance jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/financeonetheme.svg" width="40">

                <span>Banking & Finance</span>
                <img class="ntc__chip-arrow"
                     src="//static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg" />
            </a>

        </div>


        <!-- Supply chain jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/supplychainonetheme.svg"
                     alt="Supply Chain-img" width="40">

                <span>Supply chain</span>
                <img class="ntc__chip-arrow"
                     src="//static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg"
            </a>

        </div>




        <!-- HR jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/hronetheme.svg" alt="HR-img" width="40">

                <span>HR</span>
                <img class="ntc__chip-arrow"
                     src="//static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg" />
            </a>

        </div>


        <!-- Sales jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/salesonetheme.svg" alt="Sales-img"
                     width="40">

                <span>Sales</span>
                <img class="ntc__chip-arrow"
                     src="//static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg"
            </a>

        </div>


        <!--  Engineering  jobs -->
        <div class="job_type1_job_section">
            <a href="">
                <img class="home_img_job_type1"
                     src="https://static.naukimg.com/s/0/0/i/trending-naukri/engineeringonetheme.svg"
                     alt="Engineering-img" width="40">

                <span>Engineering </span>
                <img class="ntc__chip-arrow"
                     src="//static.naukimg.com/s/7/0/assets/images/src/widgets/trending-naukri-wdgt/latest/assets/arrow.2b55815e.svg" />
            </a>

        </div>




    </div>



    <div class="companies_job_section_overall">

        <div class="title_companies_job_section">

            We bring you job opportunity at reputed technology companies and promising startups
        </div>






        <div class="companies_job_section">
            <div class="images_company_jobsection">
                <img src="~/images/unnamed copy.webp" alt="">
            </div>
            <div class="images_company_jobsection">
                <img src="~/images/amazon image.png" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/filpcart logo.png" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/microsoft image.jpg" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="!/images/wipro.png" alt="">
            </div>

            <div class="images_company_jobsection">
                <img src="~/images/dream 11.png" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/payoneer image.png" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/paypal new.png" alt="">
            </div>
			

            <div class="images_company_jobsection">
                <img src="~/images/tcs_logo_1200_020621101143.avif" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/cred image.png" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/Disney-Hotstar-logo-featured.jpg" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/Myntra image.png" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/oneplus mobile.png" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/PhonePe_Logo.svg.png" alt="">
            </div>


            <div class="images_company_jobsection">
                <img src="~/images/samsung.png" alt="">
            </div>




            <div class="images_company_jobsection">
                <img src="~/images/netflix logo new.png" alt="">
            </div>


        </div>


    </div>
