@{
    ViewData["Title"] = "Privacy Policy";
}





<div class="privacy_all">
    <h1>Privacy Policy</h1>
    <span>[Last updated: (on February 6, 2024)]</span>
    <h4>OUR APPROACH TO PRIVACY</h4>
    <p>
        CENTIFIC GLOBAL SOLUTIONS, Inc. and its affiliates (<strong>“CENTIFIC”</strong> “<strong>we</strong>,”
        “<strong>our</strong>,” or <strong>“us“)</strong> are committed to protecting
        your privacy. This privacy policy sets out how we collect, store, process, transfer, share, and use data
        that
        identifies or is associated with you (<strong>“Personal Information“</strong>) and information regarding our
        use of cookies and
        similar technologies.

        CENTIFIC operates a platform (<strong>“InternsHub“</strong>) used to recruit crowd resources globally to
        support hosted projects,
        process work for different projects, and track resources working hours; users can register via our websites
        under the https://www.“InternsHub“.com domain (our “Website“) and browse, apply for published job
        opportunities,
        and
        take tasks from the online interface. (<strong>“Service“</strong>).

        This privacy policy applies to “InternsHub“ and all the tools that are part of it. Terms used in this
        privacy
        policy
        have the same meaning as in our Terms and Conditions, unless otherwise defined in this privacy policy.

        Before accessing or using “InternsHub“, please ensure that you have read and understood our collection,
        storage,
        use, and disclosure of your Personal Information as described in this privacy policy.

        CENTIFIC is the data controller of the Personal Information we hold about you. You can reach out to CENTIFIC
        at
        the address: 14980 NE 31st Way, Suite 100, Redmond, WA, U.S. 98052; contact email:
        data_protection@centific.com
        phone: 1.425.233.8578.
    </p>

    <h4>PERSONAL INFORMATION WE COLLECT ABOUT YOU AND HOW WE USE IT</h4>
    <p>
        We collect Personal Information about you when you voluntarily submit information directly to us when using
        “InternsHub“. This can include information you provide to us when you register for an account; fill in a
        form on
        “InternsHub“; create or edit your profile on “InternsHub“; correspond with us via the Website, phone,
        e-mail, or
        otherwise; subscribe to our mailing lists, newsletters, or other forms of marketing communications; respond
        to surveys; or use some other feature of “InternsHub“ as available from time to time.

        If you choose not to provide Personal Information, we may not be able to provide certain services to you or
        respond to your requests.

        The table in Annex 1 (see below) sets out the categories of Personal Information we collect about you and
        how we use that information. The table also lists the legal basis on which we rely to process the Personal
        Information, the categories of recipients of the Personal Information, and information as to how we
        determine applicable retention periods.

        We also automatically collect Personal Information about you indirectly about how you access and use
        “InternsHub“ and information about the device you use to access “InternsHub“.

        The table in Annex 2 (see below) sets out the categories of Personal Information we collect about you
        automatically and how we use that information. The table also lists the legal basis which we rely on to
        process the Personal Information, the categories of recipients of the Personal Information, and information
        as to how we determine applicable retention periods.
    </p>

    <h4>SECURITY AND TRANSFERRING YOUR PERSONAL INFORMATION</h4>
    <p>
        <strong>Security</strong> <br>

        We implement appropriate technical and organizational measures to protect your Personal Information against
        accidental or unlawful destruction, loss, change, or damage. All Personal Information we collect will be
        stored on secure servers. All electronic transactions entered into via our Website will be protected by SSL
        encryption technology. While we use these precautions to safeguard your Personal Information, we cannot
        guarantee the security of the networks, systems, servers, devices, and databases we operate or that are
        operated on our behalf.

        <strong>International Transfers of your Personal Information</strong> <br>

        The Personal Information we collect may be transferred to and stored in countries outside of the
        jurisdiction you are in where we and our third-party service providers have operations. We will only
        disclose the Personal Information to third-party service providers who perform services on behalf of us in
        accordance with applicable data protection laws and on the basis that they are bound by contractual
        obligation to use it only for the specific business purposes for which we disclose it to them, to comply
        with applicable data protection obligations, and to provide a same or higher level of privacy protection on
        the Personal Information.

        If you are located in the European Union (“EU”), your Personal Information will be processed outside of the
        EU; these international transfers of your Personal Information are made pursuant to appropriate safeguards,
        such as standard data protection clauses adopted by the European Commission. If you wish to enquire further
        about these safeguards used, please contact us using the details set out at the end of this privacy policy.

        We will take reasonable steps to ensure that your Personal Information is treated securely and in accordance
        with applicable law and this privacy policy.
    </p>
</div>
