@model Internshub.Models.AddInternshipImageModel


<form class="enroll_form" method="post" enctype="multipart/form-data">
    <div class="head_enroll">
        <h1>Add Internship</h1>
    </div>

    <div class="enroll_fields">

        <div class="fields_e">
            <label for="Internship_Name">Internship Name</label>
            <input type="text" name="Internship_Name">
            <span asp-validation-for="Internship_Name" style="color:red; font-size:0.6em;"></span>
        </div>

        <div class="fields_e">
            <label for="Internship_Skills" >Skills</label>
            <input type="text" name="Internship_Skills">
            <span asp-validation-for="Internship_Skills" style="color:red; font-size:0.6em;"></span>
        </div>

        <div class="fields_e">
            <label for="Internship_details">Details</label>
            <textarea name="Internship_details" rows="4"></textarea>
            <span asp-validation-for="Internship_details" style="color:red; font-size:0.6em;"></span>
        </div>


        <div class="fields_e">
            <label for="Duration">Duration (in months)</label>
            <input type="number" min="1" step="1" name="Duration" asp-for="Duration">
            <span asp-validation-for="Duration"  style="color:red; font-size:0.6em;"></span>
        </div>
        <div class="fields_e">
            <label for="Responsibilites">Responsibilities</label>
            <textarea name="Responsibilites" rows="4"></textarea>
            <span asp-validation-for="Responsibilites" style="color:red; font-size:0.6em;"></span>
        </div>


        <div class="fields_e">
            <label for="MinQualification">Minimum Qualification </label>
            <input type="text" name="MinQualification" asp-for="MinQualification">
            <span asp-validation-for="MinQualification" style="color:red; font-size:0.6em;"></span>
        </div>

        <div class="fields_e">
            <label for="InternshipMode">Mode</label>
            <select name="InternshipMode">
               
                <option value="WFH">Work From Home</option>
                <option value="Hybrid">Hybrid</option>
                <option value="Office">Office</option>
            </select>
            <span asp-validation-for="InternshipMode" style="color:red; font-size:0.6em;"></span>
        </div>

        <div class="fields_e">
            <label for="InternshipType">Internship Type</label>
            <select name="InternshipType">

                <option value="Buisness internships">Buisness internships</option>
                <option value="STEP internship">STEP internship</option>
                <option value="Software engineering">Software engineering</option>
                <option value="Product Manager">Product Manager</option>
                <option value="MBA internships">MBA internships</option>
                <option value="Hardware Engineering">Hardware Engineering</option>
            </select>
            <span asp-validation-for="InternshipType" style="color:red; font-size:0.6em;"></span>
        </div>


        <div class="fields_e">
            <label for="IntershipPicFile">Image</label>
            <input type="file" name="IntershipPicFile" asp-for="IntershipPicFile">
            <span asp-validation-for="IntershipPicFile" style="color:red; font-size:0.6em;"></span>
        </div>

    </div>

    <div class="form_submit_div">
        <button type="submit">Add</button>
    </div>

</form>