@using Internshub.Models;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> usermanager
@inject SignInManager<ApplicationUser> signInManager


<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Internshub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Internshub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <style>
      
        .accounts_section_nav_bar2_my_account{
            text-decoration: none;
            color: black;
        }

        .black_a{
            text-decoration: none;
            color: black;
        }

        .a_login-signup {
            text-decoration: none;
            color: white;
            background-color: #754FFE;
            font-size: 1em;
            padding: 6px 13px;
            border: none;
            border-radius: 5px;
        }

        .accounts_section_nav_bar2_login_join a {
            text-decoration: none;
            color: white;
            font-size: 1em;
            background-color: #754FFE;
            padding: 6px 13px;
            border: none;
            border-radius: 5px;
        }

     
        
    </style>

</head>
<body>
    <header>



        <div class="nav_bar1">


            <div class="nav_bar1_contact">
                <div class="div_inside_contact_nav_bar1">
                    <img src="~/images/phone-call_4213179.png" width="20" alt="">
                    <a href="">+91 919191919191</a>
                </div>
                <div class="div_inside_contact_nav_bar1">
                    <img src="~/images/chat_724683.png" width="18" alt="">
                    <a href=""> internshubservices@gmail.com</a>
                </div>
            </div>

            <div class="social_media_language_nav_bar1">

                <div class="social_media_nav_bar1">
                    <a href="https://www.facebook.com"> <img src="~/images/facebook_2111392.png" width="20" alt=""></a>
                    <a href="https://www.twitter.com"><img src="~/images/Twitter_logo.png" width="20" alt=""></a>
                </div>
                <div class="language_nav_bar1">

                    <select name="" id="" class="select_language_nav_bar1">

                        <Option>English</Option>
                        <Option>Pashto</Option>


                    </select>

                </div>

            </div>
        </div>


        <div class="line"></div>




        <nav class="nav_bar2">
            <div class="title_search_nav_bar2">
                <div class="title_search_nav_bar2_ist">
                    <a asp-controller="Home" asp-action="Index"> <img src="~/Images/Internhub_logo_new_wala _blue.png" width="200" alt=""></a>
                </div>

            </div>

            <div class="accounts_section_nav_bar2">

                <div class="accounts_section_nav_bar2_login_join  login_div_above_dropdown_btn">
                    <a href="">Login</a>

                </div>
                <div class="navbar_dropdown_oveall_div">


                    <label class="">
                        <span class="dropdown_image"><img src="~/images/dropdown_menu_of_courese_internhub_black.jpg" width="40" /></span>
                        
                        <input type="checkbox">





                        <div class="ul_list_dropdown">
                            <ul >
                                @if (signInManager.IsSignedIn(User))
                                {
                                    <li>
                                        <div class="accounts_section_nav_bar2_my_account">
                                            <a asp-controller="Accounts" asp-action="Profile"> <img src="~/images/account-icon-24.jpg" width="35" alt=""></a>
                                            <a asp-controller="Accounts" asp-action="Profile" class="black_a">My Account</a>

                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <div class="accounts_section_nav_bar2_my_account">
                                            <a asp-controller="Accounts" asp-action="Login"> <img src="~/Images/account-icon-24.jpg" width="35" alt=""></a>
                                            <a asp-controller="Accounts" asp-action="Login" class="black_a" >My Account</a>

                                        </div>
                                    </li>
                                }
                                <li>

                                    <div class="accounts_section_nav_bar2_my_account">
                                        <a href="">
                                            <img src="~/Images/internship-black-glyph-icon-vector-33390190.jpg"
                                                 width="35" alt="">
                                        </a>
                                        <a asp-controller="Home" asp-action="Catagory" class="black_a">Catagory</a>

                                    </div>
                                </li>
                                <li>

                                    <div class="accounts_section_nav_bar2_my_account">
                                        <a asp-controller="Home" asp-action="Jobs"> <img src="~/Images/Courses_2_internship.png" width="35" alt=""></a>
                                        <a asp-controller="Home" asp-action="Jobs" class="black_a"> jobs</a>

                                    </div>
                                </li>
                                <li>
                                    <div class="accounts_section_nav_bar2_my_account accounts_section_nav_bar2_my_account_privacy_policy">
                                        <a asp-controller="Home" asp-action="Privacy"> <img src="~/Images/Privacy policy.png" width="35" alt=""></a>
                                        <a asp-controller="Home" asp-action="Privacy" class="black_a">Privacy Policy</a>

                                    </div>
                                </li>

                                @if (signInManager.IsSignedIn(User))
                                {
                                     <li>
                                    <div class="logout_name_nav_bar2">
                                        <label>

                                            <div class="username_image_div">
                                                    <img src="~/images/user.png" width="25" alt="">
                                                <span> @User?.Identity?.Name</span>
                                                <img src="~/images/down.png" width="20" alt="">
                                            </div>
                                            <input type="checkbox">

                                            <div class="logout_btn">
                                                <a class="btn bg-secondary text-white" asp-controller="Accounts" asp-action="Logout">Logout</a>
                                            </div>
                                        </label>
                                    </div>
                                    </li>

                                }
                                else
                                {
                                    <li>
                                        <div class="accounts_section_nav_bar2_login_join">
                                            <a asp-controller="Accounts" asp-action="Login">Login</a>
                                            <div class="accounts_section_nav_bar2_join">
                                                <a asp-controller="Accounts" asp-action="Signup">Join Now</a>
                                            </div>
                                           
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </label>


                </div>




            </div>


        </nav>





    </header>
  
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    

    <!--  Footer  -->



    <footer>

        <div class="meidaquery_title_footer">
            <div class="title_footer_overall_grid">
                <img src="~/Images/Internhub_logo_new_wala _blue.png" width="200" alt="">
            </div>
            <div class="content_sec1_footer_overall_grid">

                Internshub Platform provides Various technical and non-technical, engineering, Business Internships,
                and Courses to All Graduates and Jobseekers with Domain/Technical Experts on Demand Courses, anytime
                Online/Offline/ Digital Platforms. Explore thousands of courses and Training along with internships
                for the lowest price ever!

            </div>
        </div>

        <div class="footer_overall_grid">

            <div class="sec1_footer_overall_grid">

                <div class="title_footer_overall_grid">
                    <img src="./Images/Internhub_logo_new_wala _blue.png" width="200" alt="">
                </div>
                <div class="content_sec1_footer_overall_grid">

                    Internshub Platform provides Various technical and non-technical, engineering, Business Internships,
                    and Courses to All Graduates and Jobseekers with Domain/Technical Experts on Demand Courses, anytime
                    Online/Offline/ Digital Platforms. Explore thousands of courses and Training along with internships
                    for the lowest price ever!

                </div>
                <div class="newsletter_footer">
                    <h2>Subscribe to our newsletter</h2>
                    <input type="email" name="" id="" placeholder="Enter your email here">
                    <button type="submit">Subscribe</button>
                </div>

            </div>

            <div class="sec2_footer_overall_grid">

                <h2>Top categories</h2>
            </div>

            <div class="sec3_footer_overall_grid">

                <h2>Useful links</h2>
                <ul>
                    <li><a href="">Become an instructor</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">All Coursed</a></li>
                    <li><a href="">Sign up</a></li>
                </ul>
            </div>
            <div class="sec4_footer_overall_grid">

                <h2>Help</h2>
                <ul>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Faq</a></li>
                    <li><a href="">Refund Policy</a></li>

                </ul>
            </div>


        </div>

        <div class=" newsletter_footer_class_2">
            <h2>Subscribe to our newsletter</h2>
            <input type="email" name="" id="" placeholder="Enter your email here">
            <button type="submit">Subscribe</button>
        </div>


    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
