

@model Internshub.Models.UsersModel


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
     

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: .25rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
        }

        .me-2 {
            margin-right: .5rem !important;
        }

    .main-body{
       /*  margin:10vh auto;
        padding:3vh 3vw; */
    }

    .card{
        padding:20px;
    }

    .card h2 {
      margin:0px auto 2vh auto;
    }
  
    
    
    </style>

    <div class="container">
        <div class="main-body ">

            

            <div class="col-lg-8">
               
                <div class="card-body">
                <div class="card">
                    <h2>Complete  profile</h2>
                    <form method="post">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="tel" class="form-control" name="Phone" id="Phone" required>
                            </div>
                        </div>
                    
                   
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="Address" id="Address" required>
                            </div>
                        </div>
                    


                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">City</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="City" required>
                            </div>
                        </div>
                    
                 
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Country</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="Country" required>
                            </div>
                        </div>
                    
                   
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Qualification</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="Qualification" required>
                            </div>
                        </div>
                    

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Skills</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" name="Skills" required>
                            </div>
                        </div>
                    
                         <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary add_btn_div">
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </div>
                     

                    </form>
                </div>

            </div>
        </div>

    </div>
</div>