


@model Internshub.Models.loginUser

<div class="signup_page_grid_overall">

    <div class="photo_signup_page_grid_overall">
        <img src="~/images/Internship_photo_signup.webp" width="600" alt="">
    </div>
    <div class="div_form_signup">

        <form method="post">

            <h1>Login!</h1> 


            <div class="form_fields">

                <div class="fields">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Enter your Username"  id="username" required>
                    <span asp-validation-for="username"></span>
                </div>

               


                <div class="fields">
                    <label for="password">Password</label>
                    <input type="password" name="password"  placeholder="Enter your Password" id="password" >
                    <span style="color:red;" asp-validation-for="password"></span>
                </div>



            </div>

            <div class="form_submit_div">
                <button type="submit">Login</button>
            </div>





        </form>

    </div>

</div>


